$font-stack: "Source Code Pro", monospace;
$bg-color: floralwhite;
$border-color: #000111;
$border-color-l1: #000111;
$primary-color: #000111;
$primary-color-d1: #000111;
$primary-color-d2: #000111;
$secondary-color: #FF6B20;
$secondary-color-l1: #FF874A;