body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    color: $primary-color-d2;
    font-size: 1rem;
    background-color: $bg-color;
    @mixin atMedium {
        overflow: -webkit-paged-y;
    }
}
* {
    box-sizing: border-box;
}
