#app {
	height: 100%;
}

.container {
	border-left: 1px solid $grid-color;
	border-right: 1px solid $grid-color;
	height: 100%;
	margin: 0 auto;
	padding: 70px 0 0;
	transition: opacity 0.5s;
	width: 100%;
	@mixin atMedium {
		align-items: center;
		display: flex;
		justify-content: center;
		max-width: 500px;
		padding: 0 0 100px;
	}
}

.poem-container {
	animation: fadeIn 0.1s ease-in-out forwards;
	background-color: $bg-color;
	padding: 0 20px 80px;
	position: relative;
	opacity: 0;
	width: 100%;
	@mixin atMedium {
	padding: 20px 0;
		&::before,
		&::after {
			border-bottom: 1px solid $grid-color;
			content: " ";
			height: 1px;
			left: -200%;
			position: absolute;
			width: 500%;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
}
