.edit-mode {
	.poem-header {
		&__title {
			padding-left: 50px;
			@mixin atMedium {
				padding-left: 40px;
			}
		}
		&__controls--left {
			width: 50px;
			#wholePoemRefresh {
				opacity: 1;
			}
		}
	}
	.poem-body {
		.poem-line {
			margin-bottom: 7px;
			user-select: none;
			&__text {
				padding: 5px 50px 5px 20px;
				min-height: 40px;
				@mixin atMedium {
					min-height: 20px;
					padding: 0px 20px 0px;
				}
			}
			&__refresh {
				cursor: pointer;
				opacity: 1;
				visibility: visible;
				z-index: 2;

				@mixin atMedium {
					&::after {
						width: 26px;
						left: 10px;
					}
				}

				&:hover {
					@mixin belowMedium {
						color: white;
					}
					& ~ .poem-line__text {
						background: $secondary-color;
						color: white;
					}
				}
			}
			&::before,
			&::after {
				opacity: 1;
			}
		}
	}
}
@keyframes pulse {
	from {
		background: white;
	}
	to {
		color: white;
		background: $secondary-color-l1;
	}
}
