.edit-mode {
	.poem-body {
		&__refresh {
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			z-index: 2;
		}

		&::before,
		&::after {
			opacity: 1;
		}
	}

	.poem-line {
		margin-bottom: 7px;
		user-select: none;

		&__text {
			min-height: 40px;
			padding: 2px 10px;
			@mixin atMedium {
				min-height: 20px;
			}
		}

		&__refresh {
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			z-index: 2;
		}
		
		&::before,
		&::after {
			opacity: 1;
		}
	}
}
