.poem-controls {
	background: $primary-color;
	bottom: 0;
	color: $bg-color;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 10px 0;
	position: fixed;
	user-select: none;
	width: 100%;
	z-index: 3;

	@mixin atMedium {
		background: none;
		color: $primary-color;
		left: 0px;
		padding: 10px 20px;
		position: absolute;
		top: 100%;
		width: 100%;
	}

	a {
		color: inherit;
		display: inline-block;
		text-decoration: none;
	}

	&__icon {
		cursor: pointer;
		height: 100%;
		margin: 0 10px;
		transition: all 0.2s ease-out;

		@mixin atMedium {
			margin: 0;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}

		&--hidden {
			opacity: 0;
			visibility: hidden;
		}
	}
}
