.poem-links {
	padding: 10px 10px;
	font-size: 1rem;
	@mixin atMedium {
		font-size: 0.7rem;
		padding: 10px 30px;
		line-height: 1;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0px;
	}
	a {
		text-decoration: none;
		color: $primary-color;
		opacity: 0.4;
		transition: all 0.2s;
		display: inline-block;
		&:hover {
			opacity: 1;
		}
	}
}
